{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="page-section" id="login">
        <div class="container">
            <br/><br/>
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Iniciar Sesión</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-sign-in-alt"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                    <form id="contactForm" name="sentMessage" method="POST">
                        {% csrf_token %}
                        <div class="control-group">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <input class="form-control" name="username" id="email" type="email"
                                           placeholder="Email Address" required="required"/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <input class="form-control" name="password" id="password" type="password"
                                           placeholder="constraseña" required="required"/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <button class="btn btn-primary btn-xl  btn-block" id="sendMessageButton" type="submit">
                                Enviar
                            </button>
                        </div>
                    </form>


                    <a href="{% url 'index' %}">Regresar al inicio</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}